@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #000;
  line-height: 1;
  font-family: Inter;
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Inter;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  background: #fff
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 89.375rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.menu {
  color: #fff
}
.menu__body {
  background-color: rgba(0,0,0,.945);
  position: fixed;
  width: 100%;
  height: 100%;
  left: -100%;
  top: 0;
  overflow: auto;
  padding: 11.875rem .9375rem .9375rem 1.875rem;
  transition: left .3s
}
.menu__body::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 4.375rem;
  left: -100%;
  top: 0;
  transition: left .3s;
  z-index: 2
}
.menu-open .menu__body {
  left: 0
}
.menu-open .menu__body::before {
  left: 0
}
.menu__list {
  display: flex;
  flex-direction: column;
  row-gap: 1.875rem
}
.menu__item {
  text-align: center
}
.menu__link {
  font-size: 1.5rem;
  transition: all .3s
}
.icon-menu {
  display: block;
  position: relative;
  width: 1.875rem;
  height: 1.125rem;
  z-index: 5
}
.icon-menu span,
.icon-menu::after,
.icon-menu::before {
  content: "";
  transition: all .3s ease 0s;
  right: 0;
  position: absolute;
  width: 100%;
  height: .125rem;
  background-color: #fff
}
.icon-menu::before {
  top: 0
}
.icon-menu::after {
  bottom: 0
}
.icon-menu span {
  top: calc(50% - .0625rem)
}
.menu-open .icon-menu span {
  width: 0
}
.menu-open .icon-menu::before {
  top: calc(50% - .0625rem);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg)
}
.menu-open .icon-menu::after {
  bottom: calc(50% - .0625rem);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}
.spollers {
  display: grid;
  gap: 2.875rem
}
.spollers__item {
  font-size: 1.25rem
}
.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  border: 1px solid #dd3bd2;
  border-radius: .75rem;
  padding: 1.25rem 2.0625rem;
  position: relative;
  list-style: none;
  background-color: rgba(50,11,46,.5);
  color: #fff;
  font-weight: 500
}
.spollers__title::-webkit-details-marker,
.spollers__title::marker {
  display: none
}
._spoller-init .spollers__title {
  cursor: pointer
}
._spoller-init .spollers__title::after,
._spoller-init .spollers__title::before {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  background-color: #fff;
  height: 2px;
  width: 15px;
  transition: -webkit-transform .5s ease 0s;
  transition: transform .5s ease 0s;
  transition: transform .5s ease 0s,-webkit-transform .5s ease 0s
}
._spoller-init .spollers__title::before {
  -webkit-transform: translate(-75%,-50%) rotate(40deg);
  transform: translate(-75%,-50%) rotate(40deg)
}
._spoller-init .spollers__title::after {
  -webkit-transform: translate(0,-50%) rotate(-40deg);
  transform: translate(0,-50%) rotate(-40deg)
}
._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
  transform: translateX(-75%) rotate(-40deg)
}
._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg)
}
.spollers__body {
  padding: 1.25rem;
  border-radius: .3125rem;
  border: 1px solid #dd3bd2;
  background-color: rgba(50,11,46,.5);
  color: #fff;
  line-height: 35px
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.button {
  background-color: #8008aa;
  font-weight: 700;
  padding: 1.25rem 4.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 5px 0 #5a0e74;
  transition: all .3s;
  display: inline-block;
  color: #fff
}
.title {
  font-weight: 700;
  line-height: 40px
}
.subtitle {
  font-weight: 700
}
.swiper {
  max-width: 45.1875rem
}
.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1.375rem;
  gap: .5625rem
}
.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: #dd3bd2;
  transition: opacity .3s;
  border-radius: 50%;
  opacity: 1;
  cursor: pointer
}
.swiper-pagination-bullet-active {
  opacity: .6
}
._watcher-view {
  will-change: transform
}
._watcher-view .main__title {
  -webkit-animation: tTop 1s forwards;
  animation: tTop 1s forwards
}
._watcher-view .main__subtitle {
  -webkit-animation: tRight 1.3s forwards;
  animation: tRight 1.3s forwards
}
._watcher-view .main__text {
  -webkit-animation: tLeft 1.5s forwards;
  animation: tLeft 1.5s forwards
}
._watcher-view .main__button {
  -webkit-animation: aOpacity 1.7s forwards;
  animation: aOpacity 1.7s forwards
}
._watcher-view .about__title {
  -webkit-animation: tLeft 1s forwards;
  animation: tLeft 1s forwards
}
._watcher-view .about__subtitle {
  -webkit-animation: tLeft 1.3s forwards;
  animation: tLeft 1.3s forwards
}
._watcher-view .about__text {
  -webkit-animation: tLeft 1.5s forwards;
  animation: tLeft 1.5s forwards
}
._watcher-view .about__img img {
  -webkit-animation: tRight 1s forwards;
  animation: tRight 1s forwards
}
._watcher-view .about__button {
  -webkit-animation: tRight 1.3s forwards;
  animation: tRight 1.3s forwards
}
._watcher-view .talents__title {
  -webkit-animation: tLeft 1s forwards;
  animation: tLeft 1s forwards
}
._watcher-view .talents__text {
  -webkit-animation: tLeft 1.3s forwards;
  animation: tLeft 1.3s forwards
}
._watcher-view .talents__img {
  -webkit-animation: tBot 1.5s forwards;
  animation: tBot 1.5s forwards
}
._watcher-view .talents__models {
  -webkit-animation: aOpacity 1.7s forwards;
  animation: aOpacity 1.7s forwards
}
._watcher-view .reviews__title {
  -webkit-animation: tTop 1s forwards;
  animation: tTop 1s forwards
}
._watcher-view .reviews__slide_1 {
  -webkit-animation: aOpacity 1.3s forwards;
  animation: aOpacity 1.3s forwards
}
._watcher-view .reviews__slide_2 {
  -webkit-animation: aOpacity 1.5s forwards;
  animation: aOpacity 1.5s forwards
}
._watcher-view .reviews__slide_3 {
  -webkit-animation: aOpacity 1.7s forwards;
  animation: aOpacity 1.7s forwards
}
._watcher-view .reviews__slide_4 {
  -webkit-animation: aOpacity 2s forwards;
  animation: aOpacity 2s forwards
}
._watcher-view .reviews__slide_5 {
  -webkit-animation: aOpacity 2.3s forwards;
  animation: aOpacity 2.3s forwards
}
._watcher-view .banner__title {
  -webkit-animation: tLeft 1s forwards;
  animation: tLeft 1s forwards
}
._watcher-view .banner__button {
  -webkit-animation: tRight 1.3s forwards;
  animation: tRight 1.3s forwards
}
._watcher-view .features__column_top_1 {
  -webkit-animation: tLeft 1s forwards;
  animation: tLeft 1s forwards
}
._watcher-view .features__column_top_2 {
  -webkit-animation: tLeft 1.3s forwards;
  animation: tLeft 1.3s forwards
}
._watcher-view .features__column_top_3 {
  -webkit-animation: tLeft 1.5s forwards;
  animation: tLeft 1.5s forwards
}
._watcher-view .features__column_bot_1 {
  -webkit-animation: tRight 1.7s forwards;
  animation: tRight 1.7s forwards
}
._watcher-view .features__column_bot_2 {
  -webkit-animation: tRight 2s forwards;
  animation: tRight 2s forwards
}
._watcher-view .features__column_bot_3 {
  -webkit-animation: tRight 2.3s forwards;
  animation: tRight 2.3s forwards
}
._watcher-view .features__title {
  -webkit-animation: tRight .5s forwards;
  animation: tRight .5s forwards
}
._watcher-view .work__title {
  -webkit-animation: tRight 1s forwards;
  animation: tRight 1s forwards
}
._watcher-view .work__column_1 {
  opacity: 0;
  -webkit-animation: aOpacity 1s forwards;
  animation: aOpacity 1s forwards
}
._watcher-view .work__column_2 {
  opacity: 0;
  -webkit-animation: aOpacity 1.3s forwards;
  animation: aOpacity 1.3s forwards
}
._watcher-view .work__column_3 {
  opacity: 0;
  -webkit-animation: aOpacity 1.5s forwards;
  animation: aOpacity 1.5s forwards
}
._watcher-view .work__button {
  -webkit-animation: tLeft 2s forwards;
  animation: tLeft 2s forwards
}
._watcher-view .faq__title {
  -webkit-animation: tTop .5s forwards;
  animation: tTop .5s forwards
}
._watcher-view .faq__text {
  -webkit-animation: tTop .7s forwards;
  animation: tTop .7s forwards
}
._watcher-view .sp1 {
  opacity: 0;
  -webkit-animation: aOpacity 1s forwards;
  animation: aOpacity 1s forwards
}
._watcher-view .sp2 {
  opacity: 0;
  -webkit-animation: aOpacity 1.3s forwards;
  animation: aOpacity 1.3s forwards
}
._watcher-view .sp3 {
  opacity: 0;
  -webkit-animation: aOpacity 1.5s forwards;
  animation: aOpacity 1.5s forwards
}
._watcher-view .sp4 {
  opacity: 0;
  -webkit-animation: aOpacity 1.7s forwards;
  animation: aOpacity 1.7s forwards
}
._watcher-view .sp5 {
  opacity: 0;
  -webkit-animation: aOpacity 1.9s forwards;
  animation: aOpacity 1.9s forwards
}
._watcher-view .sp6 {
  opacity: 0;
  -webkit-animation: aOpacity 2.1s forwards;
  animation: aOpacity 2.1s forwards
}
._watcher-view .sp7 {
  opacity: 0;
  -webkit-animation: aOpacity 2.3s forwards;
  animation: aOpacity 2.3s forwards
}
._watcher-view .sp8 {
  opacity: 0;
  -webkit-animation: aOpacity 2.5s forwards;
  animation: aOpacity 2.5s forwards
}
._watcher-view .sp9 {
  opacity: 0;
  -webkit-animation: aOpacity 2.7s forwards;
  animation: aOpacity 2.7s forwards
}
._watcher-view .calc__title {
  opacity: 0;
  -webkit-animation: aOpacity 1s forwards;
  animation: aOpacity 1s forwards
}
._watcher-view .calc__info {
  opacity: 0;
  -webkit-animation: aOpacity 1.3s forwards;
  animation: aOpacity 1.3s forwards
}
._watcher-view .calc__result {
  opacity: 0;
  -webkit-animation: aOpacity 1.6s forwards;
  animation: aOpacity 1.6s forwards
}
._watcher-view .feedback__title {
  -webkit-animation: tTop 1s forwards;
  animation: tTop 1s forwards
}
._watcher-view .feedback__form {
  -webkit-animation: aOpacity 1.5s forwards;
  animation: aOpacity 1.5s forwards
}
@-webkit-keyframes tTop {
  0% {
    -webkit-transform: translate(0,-10000px);
    transform: translate(0,-10000px)
  }
  100% {
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
  }
}
@keyframes tTop {
  0% {
    -webkit-transform: translate(0,-10000px);
    transform: translate(0,-10000px)
  }
  100% {
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
  }
}
@-webkit-keyframes tLeft {
  0% {
    -webkit-transform: translate(-10000px,0);
    transform: translate(-10000px,0)
  }
  100% {
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
  }
}
@keyframes tLeft {
  0% {
    -webkit-transform: translate(-10000px,0);
    transform: translate(-10000px,0)
  }
  100% {
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
  }
}
@-webkit-keyframes tRight {
  0% {
    -webkit-transform: translate(10000px,0);
    transform: translate(10000px,0)
  }
  100% {
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
  }
}
@keyframes tRight {
  0% {
    -webkit-transform: translate(10000px,0);
    transform: translate(10000px,0)
  }
  100% {
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
  }
}
@-webkit-keyframes tBot {
  0% {
    -webkit-transform: translate(0,100000px);
    transform: translate(0,100000px)
  }
  100% {
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
  }
}
@keyframes tBot {
  0% {
    -webkit-transform: translate(0,100000px);
    transform: translate(0,100000px)
  }
  100% {
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
  }
}
@-webkit-keyframes aOpacity {
  0% {
    opacity: 0;
    -webkit-transform: translate(0,50px);
    transform: translate(0,50px)
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
  }
}
@keyframes aOpacity {
  0% {
    opacity: 0;
    -webkit-transform: translate(0,50px);
    transform: translate(0,50px)
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
  }
}
._form-error {
  border-radius: 30px
}
._form-error::-webkit-input-placeholder {
  color: red!important
}
._form-error:-ms-input-placeholder {
  color: red!important
}
._form-error::-ms-input-placeholder {
  color: red!important
}
._form-error::placeholder {
  color: red!important
}
.header {
  padding-top: 2.75rem;
  padding-bottom: 2.75rem;
  border-bottom: 1px solid #fad7ff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: all .3s;
  color: #fff;
  background-color: rgba(0,0,0,.39)
}
.header._header-scroll {
  background-color: rgba(0,0,0,.651);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 1.375rem;
  padding-bottom: 1.375rem
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem
}
.header__logo {
  position: relative;
  z-index: 2
}
.header__logo img {
  max-width: 100%
}
.header__actions {
  display: flex;
  align-items: center;
  gap: 1.5rem
}
.header__social {
  display: flex;
  align-items: center;
  gap: .75rem;
  position: relative
}
.header__social::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
  right: -.75rem;
  width: .0625rem;
  height: 2.1875rem;
  background-color: #fff
}
.header__nav {
  display: flex;
  align-items: center;
  gap: .75rem
}
.header__lang {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: .3125rem
}
.header__lang::after {
  content: "";
  transition: all .3s;
  width: 1rem;
  height: .5625rem;
  background: url(../img/arrow.webp) 0 0 no-repeat
}
.header__sublang {
  position: absolute;
  top: 120%;
  background-color: rgba(0,0,0,.527);
  padding: .625rem;
  border-radius: 10px;
  transition: all .3s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all .3s
}
.var_active {
  opacity: 1;
  visibility: visible;
  pointer-events: all
}
.lang_active::after {
  content: "";
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg)
}
.footer {
  background-color: rgba(89,13,115,.6)
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem
}
.footer__logo {
  margin-bottom: .9375rem
}
.footer__copyright {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: .8125rem
}
.footer__slogan {
  font-size: 1rem;
  font-weight: 500
}
.footer__right {
  display: flex;
  flex-direction: column
}
.footer__button {
  margin-bottom: .9375rem
}
.footer__social {
  display: flex;
  align-items: center;
  gap: 1.375rem;
  align-self: center
}
.footer__link {
  display: inline-block
}
.footer__link img {
  width: 3.125rem
}
.main__video-wrapper {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1
}
.main__video-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0,0%,100%,.774)
}
.main__video {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100vh
}
.main__container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh
}
.main__title {
  font-weight: 700;
  color: #dd3bd2;
  letter-spacing: 3px;
  margin-bottom: 1.125rem;
  border-bottom: 1px solid #dd3bd2;
  padding-bottom: .625rem;
  transition: all .3s
}
.main__subtitle {
  letter-spacing: 1.5px;
  font-weight: 700
}
.main__text {
  max-width: 41.6875rem;
  letter-spacing: 1px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 1.875rem
}
.about {
  position: relative;
  overflow: hidden
}
.about__icon-1 {
  position: absolute;
  bottom: 3%;
  right: 3%;
  z-index: -1
}
.about__icon-2 {
  position: absolute;
  right: 40%;
  top: 0;
  z-index: -1
}
.about__icon-3 {
  position: absolute;
  left: 3%;
  bottom: 20%;
  z-index: -1
}
.about__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}
.about__info {
  display: flex;
  align-items: end;
  width: 100%;
  justify-content: space-between;
  gap: 1.25rem;
  margin-bottom: 4.0625rem
}
.about__title {
  margin-bottom: 2.5rem
}
.about__subtitle {
  margin-bottom: 1.8125rem
}
.about__text {
  letter-spacing: .5px;
  max-width: 45.875rem;
  line-height: 35px
}
.about__text span {
  font-weight: 700;
  color: #dd3bd2
}
.about__img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2.1875rem
}
.about__img img {
  -webkit-filter: drop-shadow(0 0 25px #bf00ff);
  filter: drop-shadow(0 0 25px #bf00ff);
  max-width: 100%
}
.about__button {
  display: flex;
  align-items: center;
  gap: .625rem
}
.about__nums {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  gap: .625rem;
  align-items: center;
  width: 100%
}
.about__num {
  display: flex;
  align-items: center;
  gap: .625rem
}
.about__num-info {
  max-width: 10.0625rem
}
.about__num-info span {
  font-weight: 700
}
.talents {
  background: url(../img/talents/bg.webp) center/cover no-repeat;
  border-radius: 30px;
  position: relative
}
.talents__container {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem
}
.talents__text {
  max-width: 30.25rem;
  font-weight: 500;
  line-height: 30px
}
.talents__img img {
  max-width: 100%;
  overflow: visible
}
.talents__models {
  background-color: rgba(90,14,116,.6);
  border-radius: 30px;
  padding: 2.8125rem 1.625rem;
  box-shadow: 0 4px 4px #dd3bd2
}
.talents__model {
  background-color: #ee8ae7;
  border: 1px solid #dd3bd2;
  border-radius: 30px;
  padding: 1.3125rem .9375rem
}
.model__img {
  margin-bottom: .8125rem
}
.model__img img {
  max-width: 100%
}
.model__info {
  font-weight: 500;
  margin-bottom: .3125rem
}
.model__info span {
  color: #dd3bd2
}
.model__social {
  display: flex;
  align-items: center;
  gap: .3125rem
}
.model__link {
  transition: all .3s
}
.reviews {
  position: relative;
  overflow: hidden
}
.reviews__title {
  text-align: center
}
.reviews__content {
  background-color: rgba(128,8,170,.5);
  box-shadow: 0 0 30px #dd3bd2;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.1875rem 3.25rem
}
.reviews__inwrapper {
  background-color: rgba(221,59,210,.3);
  border-radius: 30px;
  padding: 2.875rem 5.625rem;
  box-shadow: 0 4px 4px #dd3bd2;
  max-width: 100%
}
.reviews__slider {
  max-width: 71.5rem
}
.reviews__review {
  background-color: #fd8df6;
  border: 1px solid #dd3bd2;
  border-radius: 30px;
  padding: 1.3125rem .9375rem
}
.reviews__img {
  margin-bottom: .8125rem
}
.reviews__img img {
  max-width: 100%
}
.reviews__info {
  font-weight: 500
}
.reviews__info:not(:last-child) {
  margin-bottom: .3125rem
}
.reviews__info span {
  color: #dd3bd2
}
.reviews__text {
  color: #dd3bd2;
  font-weight: 700;
  max-width: 16.125rem;
  line-height: 30px
}
.reviews__icon-1 {
  position: absolute;
  top: 0;
  left: 25rem
}
.reviews__icon-2 {
  position: absolute;
  top: .625rem;
  right: .625rem
}
.reviews__icon-3 {
  position: absolute;
  bottom: 1.875rem;
  right: .9375rem
}
.reviews__icon-4 {
  position: absolute;
  left: 3.125rem;
  z-index: -1
}
.banner {
  background: url(../img/bg.webp) center/cover no-repeat;
  position: relative;
  border-radius: 30px;
  color: #fff
}
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(79,4,104,.856)
}
.banner__container {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  gap: .625rem;
  padding-top: 3.625rem;
  padding-bottom: 3.625rem
}
.banner__title {
  max-width: 48.75rem;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 1px
}
.features {
  overflow: hidden
}
.features__container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  row-gap: 2.3125rem
}
.features__title-column {
  font-size: 2.25rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin-bottom: .875rem
}
.features__title-column::before {
  content: "";
  background: url(../img/features/star.webp) center/cover no-repeat;
  width: 3.75rem;
  height: 3.75rem
}
.features__title {
  background-color: #dd3bd2;
  font-weight: 700;
  padding: .625rem;
  border-radius: 30px;
  box-shadow: 0 5px 50px #5a0e74;
  text-align: center;
  grid-column: span 3;
  color: #fff
}
.features__text {
  max-width: 22.9375rem;
  line-height: 30px;
  letter-spacing: .5px
}
.work {
  position: relative
}
.work__container {
  display: flex;
  flex-direction: column;
  position: relative
}
.work__container::before {
  content: "";
  position: absolute;
  top: -3.125rem;
  right: 1.25rem;
  width: 7.5rem;
  height: 7.5rem;
  background: url(../img/work/arrow.webp) 0 0 no-repeat
}
.work__title {
  text-align: center;
  margin-bottom: 2.1875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .875rem
}
.work__title::after {
  content: "";
  width: 3.625rem;
  height: 3.625rem;
  background: url(../img/work/money.webp) center/cover no-repeat
}
.work__row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.375rem;
  margin-bottom: 1.25rem
}
.work__column {
  position: relative;
  padding: 1.625rem;
  min-height: 24.0625rem;
  background: linear-gradient(135deg,rgba(217,217,217,.4) 0,rgba(115,115,115,.1) 100%);
  backdrop-filter: blur(40px);
  border: 1px solid #dd3bd2;
  border-radius: 1.875rem;
  box-shadow: 0 0 5px #dd3bd2
}
.work__column::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  background-image: url(../img/work/heart.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: .8;
  width: 13.375rem;
  height: 11.75rem;
  -webkit-filter: drop-shadow(0 0 25px #bf00ff);
  filter: drop-shadow(0 0 25px #bf00ff)
}
.work__label {
  max-width: 23.6875rem;
  color: #dd3bd2;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 1.1875rem
}
.work__item {
  max-width: 23rem;
  font-weight: 500;
  position: relative;
  line-height: 40px;
  padding-left: 1.25rem
}
.work__item:not(:last-child) {
  margin-bottom: 1.25rem
}
.work__item::before {
  position: absolute;
  top: .9375rem;
  left: 0;
  width: .5rem;
  height: .5rem;
  content: "";
  background-color: #000;
  border-radius: 1000px
}
.work__button {
  align-self: center
}
.work__icon-1 {
  position: absolute;
  left: 12.5rem;
  top: -6.25rem
}
.work__icon-2 {
  position: absolute;
  bottom: 0;
  right: 1.875rem
}
.faq {
  position: relative;
  overflow: hidden
}
.faq__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(221,59,210,.4);
  padding: 2.375rem 1.25rem;
  border-radius: 30px;
  box-shadow: 0 0 10px #dd3bd2
}
.faq__title {
  text-align: center;
  margin-bottom: .75rem
}
.faq__text {
  text-align: center;
  max-width: 53.875rem;
  justify-self: center;
  margin: 0 auto;
  line-height: 32px;
  margin-bottom: 2.8125rem
}
.faq__spollers {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: .9375rem
}
.faq__icon {
  position: absolute;
  top: 6.25rem;
  left: 1.875rem
}
.calc {
  position: relative
}
.calc__title {
  margin-bottom: 3.125rem;
  text-align: center
}
.calc__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem
}
.calc__info {
  width: 42rem;
  max-width: 100%;
  background: url(../img/calc/dollar.webp) no-repeat;
  height: 29.1875rem;
  display: flex;
  flex-direction: column;
  justify-content: center
}
.calc__label {
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 1.25rem
}
.calc__label span {
  color: #dd3bd2
}
.calc__subscribers {
  display: flex;
  align-items: center;
  gap: .625rem;
  margin-bottom: .875rem
}
.calc__subscribers span {
  font-size: 2.25rem;
  font-weight: 500
}
.calc__result {
  background-color: #fff;
  color: #dd3bd2;
  box-shadow: 0 5px 100px #dd3bd2;
  border-radius: 50%;
  padding: 6.25rem 2.5rem
}
.calc__input {
  -webkit-appearance: none;
  appearance: none;
  max-width: 672px;
  height: 20px;
  background: #dd3bd2;
  border-radius: 10px;
  outline: 0;
  cursor: pointer;
  transition: background .3s ease
}
.calc__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #dd3bd2;
  border: 2px solid #fff;
  cursor: pointer;
  -webkit-transition: background .3s ease;
  transition: background .3s ease
}
.calc__input::-moz-range-thumb {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #dd3bd2;
  border: 2px solid #fff;
  cursor: pointer
}
.calc__input::-ms-thumb {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #dd3bd2;
  border: 2px solid #fff;
  cursor: pointer
}
.calc__input:hover {
  background: #cc2cb6
}
.calc__month {
  font-weight: 700;
  margin-bottom: .5rem;
  border-bottom: 1px solid #dd3bd2;
  padding-bottom: .5rem
}
.calc__cvartal {
  font-weight: 700;
  margin-bottom: .625rem
}
.calc__year {
  font-weight: 700
}
.calc__icon_1 {
  position: absolute;
  top: 0;
  left: 6.25rem
}
.calc__icon_2 {
  position: absolute;
  top: 0;
  right: 6.25rem
}
.calc__icon_3 {
  position: absolute;
  bottom: 0;
  right: 12.5rem
}
.feedback {
  position: relative;
  overflow: hidden
}
.feedback__title {
  text-align: center;
  margin-bottom: 1.375rem
}
.feedback__form {
  background-color: rgba(51,10,47,.979);
  padding: 3.75rem 11.25rem;
  box-shadow: 0 4px 10px #dd3bd2;
  border-radius: 30px
}
.form-feedback {
  display: flex;
  flex-direction: column
}
.form-feedback__item:not(:last-child) {
  margin-bottom: 1.375rem
}
.form-feedback__item_big {
  display: flex;
  align-items: center;
  gap: 1.8125rem
}
.form-feedback__input {
  border: 1px solid #dd3bd2;
  color: #dd3bd2;
  padding: .9375rem 1.25rem;
  border-radius: 30px;
  font-weight: 700
}
.form-feedback__input::-webkit-input-placeholder {
  font-size: 1.25rem;
  font-weight: 700;
  color: #dd3bd2
}
.form-feedback__input:-ms-input-placeholder {
  font-size: 1.25rem;
  font-weight: 700;
  color: #dd3bd2
}
.form-feedback__input::-ms-input-placeholder {
  font-size: 1.25rem;
  font-weight: 700;
  color: #dd3bd2
}
.form-feedback__input::placeholder {
  font-size: 1.25rem;
  font-weight: 700;
  color: #dd3bd2
}
.form-feedback__input:focus {
  outline: 1px solid #bf00ff
}
.form-feedback__button {
  align-self: center
}
.textarea {
  border: 1px solid #dd3bd2;
  color: #dd3bd2;
  padding: .9375rem 1.25rem;
  border-radius: 30px;
  resize: vertical;
  height: 17.5rem
}
.textarea::-webkit-input-placeholder {
  font-size: 1.25rem;
  font-weight: 700;
  color: #dd3bd2
}
.textarea:-ms-input-placeholder {
  font-size: 1.25rem;
  font-weight: 700;
  color: #dd3bd2
}
.textarea::-ms-input-placeholder {
  font-size: 1.25rem;
  font-weight: 700;
  color: #dd3bd2
}
.textarea::placeholder {
  font-size: 1.25rem;
  font-weight: 700;
  color: #dd3bd2
}
.textarea:focus {
  outline: 1px solid #bf00ff
}
.feedback__icon_1 {
  position: absolute;
  top: 12.5rem;
  left: 1.25rem
}
.feedback__icon_2 {
  position: absolute;
  top: 3.125rem;
  right: 1.25rem
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:47.99875em) {
  .footer__social {
    align-self: end
  }
}
@media (min-width:89.375em) {
  .spollers__title {
    font-size: 1.25rem
  }
  .spollers__body {
    font-size: 1.25rem
  }
  .title {
    font-size: 3rem
  }
  .subtitle {
    font-size: 2rem
  }
  .page__main {
    margin-bottom: 6.3125rem
  }
  .page__about {
    margin-bottom: 6.3125rem
  }
  .page__reviews {
    padding-bottom: 6.3125rem
  }
  .page__reviews {
    padding-top: 6.3125rem
  }
  .page__banner {
    margin-bottom: 6.3125rem
  }
  .page__features {
    margin-bottom: 6.3125rem
  }
  .page__work {
    margin-bottom: 6.3125rem
  }
  .page__faq {
    margin-bottom: 6.3125rem
  }
  .page__calc {
    margin-bottom: 6.3125rem
  }
  .page__feedback {
    margin-bottom: 6.3125rem
  }
  .main__title {
    font-size: 6rem
  }
  .main__subtitle {
    font-size: 2.25rem
  }
  .main__subtitle {
    margin-bottom: 1.125rem
  }
  .main__text {
    font-size: 1.5rem
  }
  .about__text {
    font-size: 1.25rem
  }
  .about__num-info span {
    font-size: 3rem
  }
  .talents__container {
    padding-top: 4.4375rem
  }
  .talents__container {
    padding-bottom: 10.375rem
  }
  .talents__title {
    margin-bottom: 2.125rem
  }
  .talents__title {
    font-size: 3rem
  }
  .talents__text {
    font-size: 1.75rem
  }
  .talents__text {
    margin-bottom: 1.3125rem
  }
  .model__info {
    font-size: 2rem
  }
  .reviews__container {
    padding-bottom: .0000000625rem
  }
  .reviews__title {
    margin-bottom: 4.4375rem
  }
  .reviews__info {
    font-size: 2rem
  }
  .reviews__text {
    font-size: 1.5rem
  }
  .reviews__icon-4 {
    bottom: 9.375rem
  }
  .banner__title {
    font-size: 2.25rem
  }
  .banner__title {
    line-height: 3.125rem
  }
  .banner__title {
    letter-spacing: .0625rem
  }
  .features__container {
    -webkit-column-gap: 8.4375rem;
    -moz-column-gap: 8.4375rem;
    column-gap: 8.4375rem
  }
  .features__title {
    font-size: 3rem
  }
  .work__label {
    font-size: 2.25rem
  }
  .work__item {
    font-size: 1.25rem
  }
  .faq__text {
    font-size: 1.5rem
  }
  .calc__month {
    font-size: 4rem
  }
  .calc__cvartal {
    font-size: 2.25rem
  }
  .calc__year {
    font-size: 2.25rem
  }
}
@media (max-width:1200px) {
  .talents__models {
    max-width: 36.25rem
  }
}
@media (max-width:1090px) {
  .about__nums {
    grid-template-columns: repeat(3,1fr)
  }
}
@media (max-width:350px) {
  .talents__models {
    max-width: 16.875rem
  }
}
@media (max-width:20em) {
  .spollers__title {
    font-size: .875rem
  }
  .spollers__body {
    font-size: 1rem
  }
  .title {
    font-size: 2.1875rem
  }
  .subtitle {
    font-size: 1.5rem
  }
  .page__main {
    margin-bottom: 3.125rem
  }
  .page__about {
    margin-bottom: 3.125rem
  }
  .page__reviews {
    padding-bottom: 4.375rem
  }
  .page__reviews {
    padding-top: 3.125rem
  }
  .page__banner {
    margin-bottom: 3.125rem
  }
  .page__features {
    margin-bottom: 3.125rem
  }
  .page__work {
    margin-bottom: 3.125rem
  }
  .page__faq {
    margin-bottom: 3.125rem
  }
  .page__calc {
    margin-bottom: 3.125rem
  }
  .page__feedback {
    margin-bottom: 3.125rem
  }
  .main__title {
    font-size: 3rem
  }
  .main__subtitle {
    font-size: 1.5625rem
  }
  .main__subtitle {
    margin-bottom: .625rem
  }
  .main__text {
    font-size: 1.25rem
  }
  .about__text {
    font-size: 1rem
  }
  .about__num-info span {
    font-size: 2.1875rem
  }
  .talents__container {
    padding-top: 1.875rem
  }
  .talents__container {
    padding-bottom: 5.1875rem
  }
  .talents__title {
    margin-bottom: 1.0625rem
  }
  .talents__title {
    font-size: 1.6875rem
  }
  .talents__text {
    font-size: 1.375rem
  }
  .talents__text {
    margin-bottom: .625rem
  }
  .model__info {
    font-size: 1.25rem
  }
  .reviews__container {
    padding-bottom: 1.875rem
  }
  .reviews__title {
    margin-bottom: 2.125rem
  }
  .reviews__info {
    font-size: 1.375rem
  }
  .reviews__text {
    font-size: 1.125rem
  }
  .reviews__icon-4 {
    bottom: .0000000625rem
  }
  .banner__title {
    font-size: 1.5rem
  }
  .banner__title {
    line-height: 1.875rem
  }
  .banner__title {
    letter-spacing: .01875rem
  }
  .features__container {
    -webkit-column-gap: 1.875rem;
    -moz-column-gap: 1.875rem;
    column-gap: 1.875rem
  }
  .features__title {
    font-size: 2rem
  }
  .work__label {
    font-size: 1.375rem
  }
  .work__item {
    font-size: 1.125rem
  }
  .faq__text {
    font-size: 1.25rem
  }
  .calc__month {
    font-size: 2rem
  }
  .calc__cvartal {
    font-size: 1.375rem
  }
  .calc__year {
    font-size: 1.375rem
  }
}
@media (max-width:61.99875em) {
  .about__info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center
  }
  .talents__container {
    flex-direction: column;
    justify-content: center
  }
  .talents__label {
    text-align: center
  }
  .reviews__icon-1 {
    display: none
  }
  .reviews__icon-2 img {
    width: 6.25rem
  }
  .reviews__icon-3 {
    display: none
  }
  .reviews__icon-4 img {
    width: 6.25rem
  }
  .banner {
    border-radius: 0
  }
  .banner__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center
  }
  .banner__title {
    margin-bottom: 3.125rem
  }
  .features__container {
    grid-template-columns: repeat(2,1fr)
  }
  .features__title {
    grid-column: span 2
  }
  .work__row {
    flex-direction: column
  }
  .work__icon-1 img {
    width: 6.25rem
  }
  .work__icon-2 {
    bottom: -6.25rem
  }
  .work__icon-2 img {
    width: 6.25rem
  }
  .faq__spollers {
    grid-template-columns: repeat(2,1fr)
  }
  .calc__content {
    flex-direction: column
  }
  .calc__icon_1 {
    left: 0
  }
  .calc__icon_1 img {
    width: 6.25rem
  }
  .calc__icon_2 {
    right: 0
  }
  .calc__icon_2 img {
    width: 6.25rem
  }
  .calc__icon_3 img {
    width: 6.25rem
  }
  .form-feedback__item_big {
    flex-direction: column
  }
  .feedback__icon_1 {
    display: none
  }
  .feedback__icon_1 img {
    width: 6.25rem
  }
  .feedback__icon_2 {
    top: 0
  }
  .feedback__icon_2 img {
    width: 6.25rem
  }
}
@media (max-width:47.99875em) {
  .spollers__title {
    padding: 1.25rem .625rem
  }
  .footer__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 1.25rem
  }
  .about__text {
    line-height: 20px
  }
  .about__nums {
    grid-template-columns: repeat(2,1fr);
    justify-items: center
  }
  .talents__img img {
    width: 12.5rem
  }
  .talents__models {
    max-width: 20rem;
    padding: 1.25rem .8125rem
  }
  .features__container {
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center
  }
  .features__title {
    grid-column: span 1
  }
  .work__title::after {
    display: none
  }
  .faq__spollers {
    grid-template-columns: 1fr
  }
  .feedback__form {
    padding: 1.875rem 5.625rem
  }
}
@media (max-width:29.99875em) {
  .button {
    padding: 1.25rem 2.8125rem;
    font-size: 1.25rem
  }
  .main__text {
    letter-spacing: 0
  }
  .about__nums {
    grid-template-columns: 1fr
  }
  .talents__models {
    max-width: 20rem
  }
  .reviews__content {
    padding: 1.25rem 1.25rem
  }
  .reviews__inwrapper {
    padding: .625rem .625rem
  }
  .feedback__form {
    padding: 1.25rem 1.25rem
  }
}
@media (min-width:20em)and (max-width:89.375em) {
  @supports (font-size:clamp(0.875rem ,0.7668918919rem + 0.5405405405vw ,1.25rem)) {
    .spollers__title {
      font-size: clamp(.875rem ,.7668918919rem + .5405405405vw ,1.25rem)
    }
  }
  @supports not (font-size:clamp(0.875rem ,0.7668918919rem + 0.5405405405vw ,1.25rem)) {
    .spollers__title {
      font-size: calc(.875rem + .375*(100vw - 20rem)/ 69.375)
    }
  }
  @supports (font-size:clamp(1rem ,0.9279279279rem + 0.3603603604vw ,1.25rem)) {
    .spollers__body {
      font-size: clamp(1rem ,.9279279279rem + .3603603604vw ,1.25rem)
    }
  }
  @supports not (font-size:clamp(1rem ,0.9279279279rem + 0.3603603604vw ,1.25rem)) {
    .spollers__body {
      font-size: calc(1rem + .25*(100vw - 20rem)/ 69.375)
    }
  }
  @supports (font-size:clamp(2.1875rem ,1.9532657658rem + 1.1711711712vw ,3rem)) {
    .title {
      font-size: clamp(2.1875rem ,1.9532657658rem + 1.1711711712vw ,3rem)
    }
  }
  @supports not (font-size:clamp(2.1875rem ,1.9532657658rem + 1.1711711712vw ,3rem)) {
    .title {
      font-size: calc(2.1875rem + .8125*(100vw - 20rem)/ 69.375)
    }
  }
  @supports (font-size:clamp(1.5rem ,1.3558558559rem + 0.7207207207vw ,2rem)) {
    .subtitle {
      font-size: clamp(1.5rem ,1.3558558559rem + .7207207207vw ,2rem)
    }
  }
  @supports not (font-size:clamp(1.5rem ,1.3558558559rem + 0.7207207207vw ,2rem)) {
    .subtitle {
      font-size: calc(1.5rem + .5*(100vw - 20rem)/ 69.375)
    }
  }
  @supports (margin-bottom:clamp(3.125rem ,2.2060810811rem + 4.5945945946vw ,6.3125rem)) {
    .page__main {
      margin-bottom: clamp(3.125rem ,2.2060810811rem + 4.5945945946vw ,6.3125rem)
    }
  }
  @supports not (margin-bottom:clamp(3.125rem ,2.2060810811rem + 4.5945945946vw ,6.3125rem)) {
    .page__main {
      margin-bottom: calc(3.125rem + 3.1875*(100vw - 20rem)/ 69.375)
    }
  }
  @supports (margin-bottom:clamp(3.125rem ,2.2060810811rem + 4.5945945946vw ,6.3125rem)) {
    .page__about {
      margin-bottom: clamp(3.125rem ,2.2060810811rem + 4.5945945946vw ,6.3125rem)
    }
  }
  @supports not (margin-bottom:clamp(3.125rem ,2.2060810811rem + 4.5945945946vw ,6.3125rem)) {
    .page__about {
      margin-bottom: calc(3.125rem + 3.1875*(100vw - 20rem)/ 69.375)
    }
  }
  @supports (padding-bottom:clamp(4.375rem ,3.8164414414rem + 2.7927927928vw ,6.3125rem)) {
    .page__reviews {
      padding-bottom: clamp(4.375rem ,3.8164414414rem + 2.7927927928vw ,6.3125rem)
    }
  }
  @supports not (padding-bottom:clamp(4.375rem ,3.8164414414rem + 2.7927927928vw ,6.3125rem)) {
    .page__reviews {
      padding-bottom: calc(4.375rem + 1.9375*(100vw - 20rem)/ 69.375)
    }
  }
  @supports (padding-top:clamp(3.125rem ,2.2060810811rem + 4.5945945946vw ,6.3125rem)) {
    .page__reviews {
      padding-top: clamp(3.125rem ,2.2060810811rem + 4.5945945946vw ,6.3125rem)
    }
  }
  @supports not (padding-top:clamp(3.125rem ,2.2060810811rem + 4.5945945946vw ,6.3125rem)) {
    .page__reviews {
      padding-top: calc(3.125rem + 3.1875*(100vw - 20rem)/ 69.375)
    }
  }
  @supports (margin-bottom:clamp(3.125rem ,2.2060810811rem + 4.5945945946vw ,6.3125rem)) {
    .page__banner {
      margin-bottom: clamp(3.125rem ,2.2060810811rem + 4.5945945946vw ,6.3125rem)
    }
  }
  @supports not (margin-bottom:clamp(3.125rem ,2.2060810811rem + 4.5945945946vw ,6.3125rem)) {
    .page__banner {
      margin-bottom: calc(3.125rem + 3.1875*(100vw - 20rem)/ 69.375)
    }
  }
  @supports (margin-bottom:clamp(3.125rem ,2.2060810811rem + 4.5945945946vw ,6.3125rem)) {
    .page__features {
      margin-bottom: clamp(3.125rem ,2.2060810811rem + 4.5945945946vw ,6.3125rem)
    }
  }
  @supports not (margin-bottom:clamp(3.125rem ,2.2060810811rem + 4.5945945946vw ,6.3125rem)) {
    .page__features {
      margin-bottom: calc(3.125rem + 3.1875*(100vw - 20rem)/ 69.375)
    }
  }
  @supports (margin-bottom:clamp(3.125rem ,2.2060810811rem + 4.5945945946vw ,6.3125rem)) {
    .page__work {
      margin-bottom: clamp(3.125rem ,2.2060810811rem + 4.5945945946vw ,6.3125rem)
    }
  }
  @supports not (margin-bottom:clamp(3.125rem ,2.2060810811rem + 4.5945945946vw ,6.3125rem)) {
    .page__work {
      margin-bottom: calc(3.125rem + 3.1875*(100vw - 20rem)/ 69.375)
    }
  }
  @supports (margin-bottom:clamp(3.125rem ,2.2060810811rem + 4.5945945946vw ,6.3125rem)) {
    .page__faq {
      margin-bottom: clamp(3.125rem ,2.2060810811rem + 4.5945945946vw ,6.3125rem)
    }
  }
  @supports not (margin-bottom:clamp(3.125rem ,2.2060810811rem + 4.5945945946vw ,6.3125rem)) {
    .page__faq {
      margin-bottom: calc(3.125rem + 3.1875*(100vw - 20rem)/ 69.375)
    }
  }
  @supports (margin-bottom:clamp(3.125rem ,2.2060810811rem + 4.5945945946vw ,6.3125rem)) {
    .page__calc {
      margin-bottom: clamp(3.125rem ,2.2060810811rem + 4.5945945946vw ,6.3125rem)
    }
  }
  @supports not (margin-bottom:clamp(3.125rem ,2.2060810811rem + 4.5945945946vw ,6.3125rem)) {
    .page__calc {
      margin-bottom: calc(3.125rem + 3.1875*(100vw - 20rem)/ 69.375)
    }
  }
  @supports (margin-bottom:clamp(3.125rem ,2.2060810811rem + 4.5945945946vw ,6.3125rem)) {
    .page__feedback {
      margin-bottom: clamp(3.125rem ,2.2060810811rem + 4.5945945946vw ,6.3125rem)
    }
  }
  @supports not (margin-bottom:clamp(3.125rem ,2.2060810811rem + 4.5945945946vw ,6.3125rem)) {
    .page__feedback {
      margin-bottom: calc(3.125rem + 3.1875*(100vw - 20rem)/ 69.375)
    }
  }
  @supports (font-size:clamp(3rem ,2.1351351351rem + 4.3243243243vw ,6rem)) {
    .main__title {
      font-size: clamp(3rem ,2.1351351351rem + 4.3243243243vw ,6rem)
    }
  }
  @supports not (font-size:clamp(3rem ,2.1351351351rem + 4.3243243243vw ,6rem)) {
    .main__title {
      font-size: calc(3rem + 3*(100vw - 20rem)/ 69.375)
    }
  }
  @supports (font-size:clamp(1.5625rem ,1.3643018018rem + 0.990990991vw ,2.25rem)) {
    .main__subtitle {
      font-size: clamp(1.5625rem ,1.3643018018rem + .990990991vw ,2.25rem)
    }
  }
  @supports not (font-size:clamp(1.5625rem ,1.3643018018rem + 0.990990991vw ,2.25rem)) {
    .main__subtitle {
      font-size: calc(1.5625rem + .6875*(100vw - 20rem)/ 69.375)
    }
  }
  @supports (margin-bottom:clamp(0.625rem ,0.4808558559rem + 0.7207207207vw ,1.125rem)) {
    .main__subtitle {
      margin-bottom: clamp(.625rem ,.4808558559rem + .7207207207vw ,1.125rem)
    }
  }
  @supports not (margin-bottom:clamp(0.625rem ,0.4808558559rem + 0.7207207207vw ,1.125rem)) {
    .main__subtitle {
      margin-bottom: calc(.625rem + .5*(100vw - 20rem)/ 69.375)
    }
  }
  @supports (font-size:clamp(1.25rem ,1.1779279279rem + 0.3603603604vw ,1.5rem)) {
    .main__text {
      font-size: clamp(1.25rem ,1.1779279279rem + .3603603604vw ,1.5rem)
    }
  }
  @supports not (font-size:clamp(1.25rem ,1.1779279279rem + 0.3603603604vw ,1.5rem)) {
    .main__text {
      font-size: calc(1.25rem + .25*(100vw - 20rem)/ 69.375)
    }
  }
  @supports (font-size:clamp(1rem ,0.9279279279rem + 0.3603603604vw ,1.25rem)) {
    .about__text {
      font-size: clamp(1rem ,.9279279279rem + .3603603604vw ,1.25rem)
    }
  }
  @supports not (font-size:clamp(1rem ,0.9279279279rem + 0.3603603604vw ,1.25rem)) {
    .about__text {
      font-size: calc(1rem + .25*(100vw - 20rem)/ 69.375)
    }
  }
  @supports (font-size:clamp(2.1875rem ,1.9532657658rem + 1.1711711712vw ,3rem)) {
    .about__num-info span {
      font-size: clamp(2.1875rem ,1.9532657658rem + 1.1711711712vw ,3rem)
    }
  }
  @supports not (font-size:clamp(2.1875rem ,1.9532657658rem + 1.1711711712vw ,3rem)) {
    .about__num-info span {
      font-size: calc(2.1875rem + .8125*(100vw - 20rem)/ 69.375)
    }
  }
  @supports (padding-top:clamp(1.875rem ,1.1362612613rem + 3.6936936937vw ,4.4375rem)) {
    .talents__container {
      padding-top: clamp(1.875rem ,1.1362612613rem + 3.6936936937vw ,4.4375rem)
    }
  }
  @supports not (padding-top:clamp(1.875rem ,1.1362612613rem + 3.6936936937vw ,4.4375rem)) {
    .talents__container {
      padding-top: calc(1.875rem + 2.5625*(100vw - 20rem)/ 69.375)
    }
  }
  @supports (padding-bottom:clamp(5.1875rem ,3.6920045045rem + 7.4774774775vw ,10.375rem)) {
    .talents__container {
      padding-bottom: clamp(5.1875rem ,3.6920045045rem + 7.4774774775vw ,10.375rem)
    }
  }
  @supports not (padding-bottom:clamp(5.1875rem ,3.6920045045rem + 7.4774774775vw ,10.375rem)) {
    .talents__container {
      padding-bottom: calc(5.1875rem + 5.1875*(100vw - 20rem)/ 69.375)
    }
  }
  @supports (margin-bottom:clamp(1.0625rem ,0.7561936937rem + 1.5315315315vw ,2.125rem)) {
    .talents__title {
      margin-bottom: clamp(1.0625rem ,.7561936937rem + 1.5315315315vw ,2.125rem)
    }
  }
  @supports not (margin-bottom:clamp(1.0625rem ,0.7561936937rem + 1.5315315315vw ,2.125rem)) {
    .talents__title {
      margin-bottom: calc(1.0625rem + 1.0625*(100vw - 20rem)/ 69.375)
    }
  }
  @supports (font-size:clamp(1.6875rem ,1.3091216216rem + 1.8918918919vw ,3rem)) {
    .talents__title {
      font-size: clamp(1.6875rem ,1.3091216216rem + 1.8918918919vw ,3rem)
    }
  }
  @supports not (font-size:clamp(1.6875rem ,1.3091216216rem + 1.8918918919vw ,3rem)) {
    .talents__title {
      font-size: calc(1.6875rem + 1.3125*(100vw - 20rem)/ 69.375)
    }
  }
  @supports (font-size:clamp(1.375rem ,1.2668918919rem + 0.5405405405vw ,1.75rem)) {
    .talents__text {
      font-size: clamp(1.375rem ,1.2668918919rem + .5405405405vw ,1.75rem)
    }
  }
  @supports not (font-size:clamp(1.375rem ,1.2668918919rem + 0.5405405405vw ,1.75rem)) {
    .talents__text {
      font-size: calc(1.375rem + .375*(100vw - 20rem)/ 69.375)
    }
  }
  @supports (margin-bottom:clamp(0.625rem ,0.4268018018rem + 0.990990991vw ,1.3125rem)) {
    .talents__text {
      margin-bottom: clamp(.625rem ,.4268018018rem + .990990991vw ,1.3125rem)
    }
  }
  @supports not (margin-bottom:clamp(0.625rem ,0.4268018018rem + 0.990990991vw ,1.3125rem)) {
    .talents__text {
      margin-bottom: calc(.625rem + .6875*(100vw - 20rem)/ 69.375)
    }
  }
  @supports (font-size:clamp(1.25rem ,1.0337837838rem + 1.0810810811vw ,2rem)) {
    .model__info {
      font-size: clamp(1.25rem ,1.0337837838rem + 1.0810810811vw ,2rem)
    }
  }
  @supports not (font-size:clamp(1.25rem ,1.0337837838rem + 1.0810810811vw ,2rem)) {
    .model__info {
      font-size: calc(1.25rem + .75*(100vw - 20rem)/ 69.375)
    }
  }
  @supports (padding-bottom:clamp(0.0000000625rem ,2.4155405225rem + -2.7027026126vw ,1.875rem)) {
    .reviews__container {
      padding-bottom: clamp(.0000000625rem ,2.4155405225rem + -2.7027026126vw ,1.875rem)
    }
  }
  @supports not (padding-bottom:clamp(0.0000000625rem ,2.4155405225rem + -2.7027026126vw ,1.875rem)) {
    .reviews__container {
      padding-bottom: calc(1.875rem + -1.8749999375*(100vw - 20rem)/ 69.375)
    }
  }
  @supports (margin-bottom:clamp(2.125rem ,1.4583333333rem + 3.3333333333vw ,4.4375rem)) {
    .reviews__title {
      margin-bottom: clamp(2.125rem ,1.4583333333rem + 3.3333333333vw ,4.4375rem)
    }
  }
  @supports not (margin-bottom:clamp(2.125rem ,1.4583333333rem + 3.3333333333vw ,4.4375rem)) {
    .reviews__title {
      margin-bottom: calc(2.125rem + 2.3125*(100vw - 20rem)/ 69.375)
    }
  }
  @supports (font-size:clamp(1.375rem ,1.1948198198rem + 0.9009009009vw ,2rem)) {
    .reviews__info {
      font-size: clamp(1.375rem ,1.1948198198rem + .9009009009vw ,2rem)
    }
  }
  @supports not (font-size:clamp(1.375rem ,1.1948198198rem + 0.9009009009vw ,2rem)) {
    .reviews__info {
      font-size: calc(1.375rem + .625*(100vw - 20rem)/ 69.375)
    }
  }
  @supports (font-size:clamp(1.125rem ,1.0168918919rem + 0.5405405405vw ,1.5rem)) {
    .reviews__text {
      font-size: clamp(1.125rem ,1.0168918919rem + .5405405405vw ,1.5rem)
    }
  }
  @supports not (font-size:clamp(1.125rem ,1.0168918919rem + 0.5405405405vw ,1.5rem)) {
    .reviews__text {
      font-size: calc(1.125rem + .375*(100vw - 20rem)/ 69.375)
    }
  }
  @supports (bottom:clamp(0.0000000625rem ,-2.7027026222rem + 13.5135134234vw ,9.375rem)) {
    .reviews__icon-4 {
      bottom: clamp(.0000000625rem ,-2.7027026222rem + 13.5135134234vw ,9.375rem)
    }
  }
  @supports not (bottom:clamp(0.0000000625rem ,-2.7027026222rem + 13.5135134234vw ,9.375rem)) {
    .reviews__icon-4 {
      bottom: calc(.0000000625rem + 9.3749999375*(100vw - 20rem)/ 69.375)
    }
  }
  @supports (font-size:clamp(1.5rem ,1.2837837838rem + 1.0810810811vw ,2.25rem)) {
    .banner__title {
      font-size: clamp(1.5rem ,1.2837837838rem + 1.0810810811vw ,2.25rem)
    }
  }
  @supports not (font-size:clamp(1.5rem ,1.2837837838rem + 1.0810810811vw ,2.25rem)) {
    .banner__title {
      font-size: calc(1.5rem + .75*(100vw - 20rem)/ 69.375)
    }
  }
  @supports (line-height:clamp(1.875rem ,1.5146396396rem + 1.8018018018vw ,3.125rem)) {
    .banner__title {
      line-height: clamp(1.875rem ,1.5146396396rem + 1.8018018018vw ,3.125rem)
    }
  }
  @supports not (line-height:clamp(1.875rem ,1.5146396396rem + 1.8018018018vw ,3.125rem)) {
    .banner__title {
      line-height: calc(1.875rem + 1.25*(100vw - 20rem)/ 69.375)
    }
  }
  @supports (letter-spacing:clamp(0.01875rem ,0.0061373874rem + 0.0630630631vw ,0.0625rem)) {
    .banner__title {
      letter-spacing: clamp(.01875rem ,.0061373874rem + .0630630631vw ,.0625rem)
    }
  }
  @supports not (letter-spacing:clamp(0.01875rem ,0.0061373874rem + 0.0630630631vw ,0.0625rem)) {
    .banner__title {
      letter-spacing: calc(.01875rem + .04375*(100vw - 20rem)/ 69.375)
    }
  }
  @supports ((-moz-column-gap:clamp(1.875rem ,-0.0168918919rem + 9.4594594595vw ,8.4375rem)) or (column-gap:clamp(1.875rem ,-0.0168918919rem + 9.4594594595vw ,8.4375rem))) {
    .features__container {
      -webkit-column-gap: clamp(1.875rem ,-.0168918919rem + 9.4594594595vw ,8.4375rem);
      -moz-column-gap: clamp(1.875rem ,-.0168918919rem + 9.4594594595vw ,8.4375rem);
      column-gap: clamp(1.875rem ,-.0168918919rem + 9.4594594595vw ,8.4375rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(1.875rem ,-0.0168918919rem + 9.4594594595vw ,8.4375rem)) or (column-gap:clamp(1.875rem ,-0.0168918919rem + 9.4594594595vw ,8.4375rem))) {
    .features__container {
      -webkit-column-gap: calc(1.875rem + 6.5625*(100vw - 20rem)/ 69.375);
      -moz-column-gap: calc(1.875rem + 6.5625*(100vw - 20rem)/ 69.375);
      column-gap: calc(1.875rem + 6.5625*(100vw - 20rem)/ 69.375)
    }
  }
  @supports (font-size:clamp(2rem ,1.7117117117rem + 1.4414414414vw ,3rem)) {
    .features__title {
      font-size: clamp(2rem ,1.7117117117rem + 1.4414414414vw ,3rem)
    }
  }
  @supports not (font-size:clamp(2rem ,1.7117117117rem + 1.4414414414vw ,3rem)) {
    .features__title {
      font-size: calc(2rem + 1*(100vw - 20rem)/ 69.375)
    }
  }
  @supports (font-size:clamp(1.375rem ,1.1227477477rem + 1.2612612613vw ,2.25rem)) {
    .work__label {
      font-size: clamp(1.375rem ,1.1227477477rem + 1.2612612613vw ,2.25rem)
    }
  }
  @supports not (font-size:clamp(1.375rem ,1.1227477477rem + 1.2612612613vw ,2.25rem)) {
    .work__label {
      font-size: calc(1.375rem + .875*(100vw - 20rem)/ 69.375)
    }
  }
  @supports (font-size:clamp(1.125rem ,1.088963964rem + 0.1801801802vw ,1.25rem)) {
    .work__item {
      font-size: clamp(1.125rem ,1.088963964rem + .1801801802vw ,1.25rem)
    }
  }
  @supports not (font-size:clamp(1.125rem ,1.088963964rem + 0.1801801802vw ,1.25rem)) {
    .work__item {
      font-size: calc(1.125rem + .125*(100vw - 20rem)/ 69.375)
    }
  }
  @supports (font-size:clamp(1.25rem ,1.1779279279rem + 0.3603603604vw ,1.5rem)) {
    .faq__text {
      font-size: clamp(1.25rem ,1.1779279279rem + .3603603604vw ,1.5rem)
    }
  }
  @supports not (font-size:clamp(1.25rem ,1.1779279279rem + 0.3603603604vw ,1.5rem)) {
    .faq__text {
      font-size: calc(1.25rem + .25*(100vw - 20rem)/ 69.375)
    }
  }
  @supports (font-size:clamp(2rem ,1.4234234234rem + 2.8828828829vw ,4rem)) {
    .calc__month {
      font-size: clamp(2rem ,1.4234234234rem + 2.8828828829vw ,4rem)
    }
  }
  @supports not (font-size:clamp(2rem ,1.4234234234rem + 2.8828828829vw ,4rem)) {
    .calc__month {
      font-size: calc(2rem + 2*(100vw - 20rem)/ 69.375)
    }
  }
  @supports (font-size:clamp(1.375rem ,1.1227477477rem + 1.2612612613vw ,2.25rem)) {
    .calc__cvartal {
      font-size: clamp(1.375rem ,1.1227477477rem + 1.2612612613vw ,2.25rem)
    }
  }
  @supports not (font-size:clamp(1.375rem ,1.1227477477rem + 1.2612612613vw ,2.25rem)) {
    .calc__cvartal {
      font-size: calc(1.375rem + .875*(100vw - 20rem)/ 69.375)
    }
  }
  @supports (font-size:clamp(1.375rem ,1.1227477477rem + 1.2612612613vw ,2.25rem)) {
    .calc__year {
      font-size: clamp(1.375rem ,1.1227477477rem + 1.2612612613vw ,2.25rem)
    }
  }
  @supports not (font-size:clamp(1.375rem ,1.1227477477rem + 1.2612612613vw ,2.25rem)) {
    .calc__year {
      font-size: calc(1.375rem + .875*(100vw - 20rem)/ 69.375)
    }
  }
}
@media (min-width:29.99875em)and (max-width:550px) {
  .about__num img {
    width: 4rem
  }
}
@media (any-hover:hover) {
  .menu__link:hover {
    color: #dd3bd2
  }
  .button:hover {
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    background-color: #dd3bd2
  }
  .header__sublang:hover {
    background-color: #dd3bd2
  }
  .model__link:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
  }
}
@media (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}